<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fitbuddy">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MsgActivity"
            android:exported="false" />
        <activity
            android:name=".Chat"
            android:exported="false" />
        <activity
            android:name=".yogaExerciseClass"
            android:exported="false" />
        <activity
            android:name=".ChooseGoals"
            android:exported="false" />
        <activity
            android:name=".LoggedIn"
            android:exported="false" />
        <activity android:name=".Register" />
        <activity android:name=".Login" />
        <activity android:name=".buildmuscleExerciseClass" />
        <activity android:name=".loseweightExcerciseClass" />
        <activity android:name=".Trackers" />
        <activity android:name=".WeeklyTracker" />
        <activity android:name=".MonthlyTracker" />
<!--        <activity android:name=".Challenges" />-->
        <activity android:name=".MuscleChallenges" />
        <activity android:name=".YogaChallenges" />
        <activity android:name=".MeditationChallenges" />
        <activity android:name=".CardioChallenges" />
        <activity android:name=".Day1Cardio" />
        <activity android:name=".Day1Muscle" />
        <activity android:name=".Day2Muscle" />
        <activity android:name=".Day1Yoga" />
        <activity android:name=".Day2Yoga" />
        <activity android:name=".Day2Cardio" />
        <activity android:name=".Day1Meditation" />
        <activity android:name=".Challenges">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>